.noteQueueContainer {
  display: flex;
  padding-top: 30px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.noteQueue {
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  
}

.note {
  margin: 5px;
  display: block;
  width: 50px;
  height: 50px;
  border: 1px solid yellow;
}

.container {
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 10%;
  box-shadow: 4px 2px #888888;
}

.playBtn {

  background-color: #d81010;
  border: 1px solid #d81010;
  color: #ffffff;
  font-size: 30pt; 
  border-radius: 10%;
  width: 70px;
  height: 70px;
}